@import url(./normalize.css);
@import url(./fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 901px;
  background-image: url(../image/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 55px;
}
header .container {
  height: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-nav a {
  text-decoration: none;
  color: #FFF;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: text-shadow 0.3s;
}
.header-nav a:hover {
  text-shadow: 0px 0px 5px #FFF;
}

.header-nav__list ul {
  display: flex;
  column-gap: 45px;
  list-style-type: none;
}

.header-nav__wrap {
  display: flex;
  align-items: center;
}
.header-nav__wrap img {
  margin-right: 13px;
}

.header-offer {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}
.header-offer h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  margin-top: 24px;
}

.header-offer__wrap {
  margin-top: 154px;
}

.header-offer__text {
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1.44px;
}

.header-offer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.header-offer__bottom button {
  width: 270px;
  height: 100px;
  flex-shrink: 0;
  background: #3A4574;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.header-offer__bottom button:hover {
  transform: scale(1.1);
}
.header-offer__bottom ul {
  display: flex;
  list-style-type: none;
  column-gap: 25px;
}
.header-offer__bottom ul a {
  display: inline-block;
  transition: transform 0.3s;
}
.header-offer__bottom ul a:hover {
  transform: scale(1.1);
}

.menu {
  padding-top: 80px;
  padding-bottom: 90px;
}
.menu .container {
  display: flex;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.menu-list h2 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.menu-list__item {
  max-width: 469px;
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 20px;
}

.menu-list__text {
  display: flex;
  column-gap: 12px;
  margin-top: 10px;
}
.menu-list__text p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.menu-list__wrap {
  display: flex;
  column-gap: 12px;
}

.menu-list__span::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #D3B47F;
  border-radius: 100px;
  position: relative;
  top: 4px;
}

.menu-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 668px;
  height: 638px;
}

.menu-bg__item {
  width: 471px;
  height: 502px;
  border: 2px solid #D3B47F;
}

.menu-bg__image1, .menu-bg__image2 {
  position: absolute;
}

.menu-bg__image1 {
  left: 0px;
  bottom: 0px;
}

.menu-bg__image2 {
  right: 0px;
  top: 0px;
}

.quote {
  background: #3A4574;
  padding-top: 220px;
  padding-bottom: 220px;
}
.quote .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote-wrap {
  max-width: 785px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote-wrap img {
  max-width: 83px;
  max-height: 58px;
}
.quote-wrap h2 {
  color: #D3B47F;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 34px;
  text-align: center;
}

.quote-wrap__text {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
}

.quote-wrap__name {
  color: #D3B47F;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 5.88px;
  margin-top: 40px;
}

.quote-arrowdown, .quote-arrowup {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
